**MatplotLib:**

**Numpy:**

**LIST:**

In [19]:
from re import L
LIST=[1,2,3,4,5,6,7,8,9,10]
print(LIST)
print ('sum',sum(LIST))
print ('max',max(LIST))
print ('min',min(LIST))
LIST.append (11)
LIST.remove(2)
print(LIST)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum 55
max 10
min 1
[1, 3, 4, 5, 6, 7, 8, 9, 10, 11]
secomd element mango
last element grape

**Tuple**

In [28]:
fruits =('apple','mango','grape')
print('secomd element',fruits[1])
print('last element',fruits[-1])
print('Original tuple:', fruits)

fruits_list=list(fruits)
fruits_list[2] ='orange'
print('Modified list:',fruits_list)

secomd element mango
last element grape
Original tuple: ('apple', 'mango', 'grape')
Modified list: ['apple', 'mango', 'orange']

**Set**

In [32]:
set_odd={1,3,5,7}
set_even={2,4,6,8}
set_odd.add(9)
set_odd.remove(7)
print('union:',set_odd | set_even)
print('intersection:',set_odd & set_even)
print('Diffeance:',set_odd - set_even)

union: {1, 2, 3, 4, 5, 6, 8, 9}
intersection: set()
Diffeance: {1, 3, 5, 9}

**Dictionery**

In [35]:
students = {'ali':85, 'ali': 80,'ali': 70}
print(students)

{'ali': 70}